.requirementsPage {
  background-image: url(/img/requirements.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.requirementsPage .display-4 {
  color: whitesmoke;
  font-weight: 500;
  margin-top: 20px;
}

.requirementsPage .lead {
  color: whitesmoke;
}

.tableRequrements {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 15px;
}

.tableRequrements span {
  color: orange;
}

.tableRequrements td {
  border: 1px solid rgb(220, 220, 220, 0.3);
  text-align: left;
  color: whitesmoke;
}
