/* .dashboard {
  background-image: url(/img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 130vh;
} */

.profile {
  border-radius: 10%;
  width: 13rem;
  height: 13rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.profileCard {
  border-top: 5px solid var(--clr-primary) !important;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
}
.profileCard:hover {
  box-shadow: rgba(233, 176, 21, 0.623) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.profileCard::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background : linear-gradient(to top,rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.089));
  z-index: 1;
  border-radius: 15px;
}

.profileCard_custom {
  position: relative;
  z-index: 2;
}

/* custom input photo form */
.inputFile {
  margin-left: 15px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.inputFile input[type="file"] {
  display: none;
}

